.root {
  position: relative;
  z-index: 10;
  p {
    margin: 0
  }
}

.button {
  color: $palette-primary-main;
  background: $palette-common-white;
  height: 48px;
  font-size: 14px;
  @include breakpoints-up(sm) {
    height: 64px;
    font-size: 20px
  }
}

.paper {
  border-radius: 24px !important;
  &.v-card:not(.v-sheet--outlined) {
    padding: $spacing4;
    color: $palette-common-white;
    @include use-theme(background-image, linear-gradient(95deg, $palette-primary-main 0%, $palette-secondary-light 130%), linear-gradient(95deg,  $palette-primary-dark 0%, $palette-secondary-dark 110%));
    @include breakpoints-up(lg) {
      padding: spacing(4, 5);
      margin: spacing(0, 4);
    }
    @include breakpoints-down(xs) {
      padding: spacing(4, 2);
      text-align: center
    }
  }
  @include breakpoints-down(sm) {
    text-align: center
  }
  @include breakpoints-down(sm) {
    margin-bottom: $spacing5
  }
  p {
    font-size: 22px;
    @include breakpoints-down(sm) {
      margin-bottom: $spacing5
    }
    @include breakpoints-down(xs) {
      font-size: 18px;
      margin-bottom: $spacing3
    }
  }
}

.right-icon {
  @include margin-left($spacing1);
  .v-application--is-rtl & {
    transform: rotate(180deg)
  }
}
