.root {
  position: relative;
  z-index: 10;
  @include breakpoints-down(sm) {
    text-align: center;
  }
  .nav > *{
    @include breakpoints-down(sm) {
      display: flex;
      overflow: auto
    }
  }
}

.deco {
  position: absolute;
  width: 470px;
  height: 410px;
  bottom: 0;
  @include right(0);
  opacity: 0.3;
  img {
    width: 100%;
  }
}

.side-filter {
  .nav {
    background: none
  }
  .filter {
    border-radius: 40px;
    text-transform: capitalize;
    margin-bottom: $spacing1;
    padding: spacing(0.5, 2);
    min-height: 40px;
    @include breakpoints-up(sm) {
      width: 90%;
    }
    @include breakpoints-between(sm, md) {
      width: 90%;
      flex: 1 1 100%;
    }
    @include breakpoints-down(sm) {
      text-align: center;
      > div {
        text-align: center
      }
    }
  }
  :deep(.v-list-item--active) {
    background: $palette-primary-light;
    color: $palette-primary-dark;
  }
}

.massonry {
  button {
    width: 100%
  }
}
